/* ContactDisplay.css */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  #feedbackgoback{
    margin-left: 450px;
    margin-top: 50px;
  }
  