.registration-cont {
  display: flex;
  flex-direction: column;
  column-gap: 7rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
#use{
  color: #007BFF;
  margin-right: 20px;
  font-weight: bolder;
  margin-left: 5px;
  
}
#uses{
  color: #007BFF;
  margin-right: 40px;
  font-weight: bolder;
  margin-left: 35px;
 
}
#fielddd{
  width:456px;
  height:45px;
  border-radius:7px;
  padding-left: 10px;
  font-size: 15px;
}

.image-cont {
  flex: 1;
  order: 2;
  /* Reorder for smaller screens */
  
  justify-content: center;
  align-items: center;
  padding: 60px 30px 30px 100px;
  text-align: center;
  width:600px;

  imgss {
    max-width: 100%;
    height: auto;
  }
.image-cont h1{
  font-size: 100px;
}
  @media (min-width: 768px) {
    flex: 2;
    order: 1;
  }
}


.form-cont {
  flex: 1;
  order: 1;
  /* Reorder for smaller screens */

  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 50px 50px 50px;
  padding: 50px 100px 30px 100px;
  margin-bottom: 20px;
  border:5px solid white;
  width:300px;
  border-radius: 20px;



  @media (min-width: 768px) {
    flex: 3;
    order: 2;
  }
}


.field {
  margin-bottom: 10px;
}

.registration-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.social-icons {
  display: flex;
  margin-top: 5px;

  justify-content: center;

  align-items: center;

}
#signup{
  font-size: 30px;
  margin-bottom: 10px;
}


.social-icons a {
  font-size: 1.5rem;
  color: #007BFF;
  /* Icon color */
  text-decoration: none;
 
  padding-right: 20px;
  margin-bottom: 10px;


}

.social-icons a:hover {
  color: #007BFF;
  /* Change color on hover */
}

#welcome{
  font-size: 50px;
}